:root {
    --enthariel: #f5ec42;
    --entharielLight: #fffa91;
    --entharielDark: #d1b411;
    --darkGrey: #1c1c1c;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'RobotoFlex';
    src: url('fonts/Roboto_Flex/RobotoFlex.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*Por defecto*/
body
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: RobotoFlex;
    background-color: black;
    color: white;
    font-weight: 600;
}

p {
    font-size: 2vh;
}

h1{
    font-size: 5vh;
    font-weight: 800;
}

h2,
h3,
h4,
h5{
    font-size: 4vh;
    font-weight: 800;
}

a{
    text-decoration: none;
    color: inherit;
}

/*Cabecera*/
#header{
    width: 100vw;
    height: 12vh;
    background-color: black;
    box-shadow: black 1px 1px 2px;
    display: flex;
    text-align: center;
    justify-content: left;
    gap: 1vw;
    color: var(--enthariel);
    border-bottom: 1px solid var(--enthariel);
    position: fixed;
    z-index: 9999;
}

    #header a {
        height: 100%;
        max-width: 10%;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        transition: 0.2s ease;
    }

    #header a:hover{
        transform: translateY(5px);
    }

        #header a .social {
            height: 30%;
            width: auto;
            object-fit: contain;
            filter: invert(1) sepia(1) saturate(100) hue-rotate(0deg);
        }

#welcome{
    margin-bottom: 10vh;
}

/*Pie de pagina*/
#footer {
    width: 100vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-top: 1px solid var(--enthariel);
    background-color: var(--darkGrey);
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 1vw;
    color: lightgray;
    flex-wrap: wrap;
}

    #footer h2{
        font-size: 2.6vh;
    }

    #footer a {
        height: 100%;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        transition: 0.2s ease;
        flex: 0 1 18%;
        display: flex;
        flex-direction: column;
    }

/*NOTICIAS*/

#news {
    text-align: left;
    padding: 5vw;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-column-gap: 2vw;
    grid-row-gap: 1vh;
    background: rgb(45,44,25);
    background: radial-gradient(circle, rgba(45,44,25,1) 0%, rgba(2,0,36,1) 100%); /*PAGINA WEB GENERADORA CSSGRADIENT.IO*/
}

/*Noticia destacada*/
#highlight {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    height: 60vh;
    grid-column: 1;
    padding: 1vh;
    border-radius: 1vh;
    margin-bottom: 1vh;
    transition: 0.2s ease-in-out;
}

/*Efecto de Hover de la noticia destacada*/
#highlight:hover{
    border: 3px solid grey;
}

    /*Seccion de imagen de la noticia destacada*/
    #highlight .imgSection {
        height: 85%;
        border-radius: 1vh;
        background-color: var(--darkGrey);
        overflow: hidden;
    }

    /*Seccion de texto de la noticia destacada*/
    #highlight .textSection {
        height: 15%;
    }

/*Imagen de la noticia destacada*/
#highlight img{
    transition: 0.5s ease-in-out;
}

/*Efecto de imagen de la noticia destacada*/
#highlight img:hover{
    transform: scale(1.03);
}

/*Contenedor de noticias pequenias*/
#news .container {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

    /*Noticia pequenia con a para mandarlo a otra pagina*/
    #news .container a {
        border-radius: 1vh;
        background: rgb(255,255,255);
        background: linear-gradient(90deg, rgba(255,255,255,0.2721463585434174) 0%, rgba(0,0,0,0.5382528011204482) 100%);
        height: 25%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        transition: 0.2s ease-in-out;
        overflow: hidden;
    }

        /*Efectos de la noticia pequenia al estar sobre ella*/
        #news .container a:hover {
            border: 3px solid grey;
            transform: scale(1.02);
        }

        /*Seccion izquierda de la noticia donde se muestra el texto*/
        #news .container a section {
            padding: 1em;
            align-items: center;
            justify-content: center;
        }

            /*Configuracion del titulo de la seccion donde se muestra el texto*/
            #news .container a section h2 {
                font-size: 2vh;
                font-weight: 500;
            }

        /*Configuracion de la imagen de la derecha en la noticia pequenia*/
        #news .container a img{
            height: 100%;
            width: 30%;
            object-fit: cover;
        }

/*JUEGOS*/
#games {
    text-align: left;
    padding: 5vw;
}

    /*Contenedor de juegos*/
    #games .container {
        display: flex;
        flex-direction: row;
        row-gap: 1vh;
        column-gap: 1vw;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

        /*Boton de juego*/
        #games .container a {
            position: relative;
            width: 50%;
            height: 40vh;
            border-radius: 1vh;
            transition: 0.2s ease-in-out;
            overflow: hidden;
            justify-content: center;
            align-items: center;
            flex: 0 1 48%;
            box-shadow: 1px 1px 5px black;
        }

            /*Efectos del boton de juego al estar encima*/
            #games .container a:hover {
                border: 3px solid grey;
            }

            #games .container a:hover .textSection{
                width: 100%;
            }

            #games .container a:hover .platform{
                min-width: 10%;
            }

        /*Ajuste de Titulo en los contenedores de juego*/
        #games .container a h2 {
            font-size: 3vh;
        }

        /*Capas para los elementos de juego*/
        #games .container a .layer0,
        #games .container a .layer1,
        #games .container a .layer2 {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
        }

        #games .container a .layer0 {
            z-index: 1;
        }

        #games .container a .layer1 {
            z-index: 2;
        }

        #games .container a .layer2 {
            z-index: 3;
        }

            #games .container a .layer0 img,
            #games .container a .layer1 img,
            #games .container a .layer2 img {
                top: 0;
                left: 0;
                object-fit: cover;
            }


        /*Secciones de cada boton de juego.*/
        #games .container a .textSection {
            height: 100%;
            width: 40%;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            justify-content: center;
            background-image: url('images/shapes/shape1.svg');
            background-size: 200%;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            transition: 0.5s ease-in-out;
        }

        #games .container a .platform {
            background-color: var(--darkGrey);
            border-radius: 2vh;
            height: 10%;
            min-width: 20%;
            transition: 0.5s ease-in-out;
        }

        #games .container a .platform img{
            height: 100%;
            max-width: 100%;
            object-fit: contain;
            filter: invert(1);
        }

#targetPlatforms {
    height: 5vh;
    min-width: 2vh;
    padding: 1vh;
    align-items: center;
    justify-content: center;
    background-color: var(--darkGrey);
    border-radius: 5vh;
    display: flex;
    flex-direction: row;
    gap: 2vh;
}

    #targetPlatforms a{
        height: 100%;
        width: 5vh;
    }

/*Heights*/
.h100{
    height: 100vh;
}

.h80{
    height: 80vh;
}

.h60 {
    height: 60vh;
}

/*Flex*/
.column{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.row{
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.rItem15{
    height: 15%;
}

.rItem20{
    height: 20%;
}

.rItem25{
    height: 25%;
}

.rItem30{
    height: 30%;
}

.rItem70{
    height: 70%;
}

.rItem80{
    height: 80%;
}

.rItem85{
    height: 85%;
}

/*Grid*/
.col1{
    grid-column: 1;
}

.col2{
    grid-column: 2;
}

/*LOGOS*/

/*SVG del Logo de Fondo*/
.logo{
    background-image: url('images/logo/LogoEnthariel.svg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    min-width: 4vh;
}

.logoDegree {
    background-image: url('images/logo/LogoEnthariel_Degree.svg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    min-width: 4vh;
}

.twitter {
    background-image: url('images/icons/Twitter.svg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    filter: invert(1);
    min-width: 4vh;
}

.instagram {
    background-image: url('images/icons/Instagram.svg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    filter: invert(1);
    min-width: 4vh;
}

.linkedin {
    background-image: url('images/icons/Linkedin.svg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    filter: invert(1);
    min-width: 4vh;
}

.youtube {
    background-image: url('images/icons/Youtube.svg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    filter: invert(1);
    min-width: 4vh;
}

.steam {
    background-image: url('images/icons/Steam.svg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    filter: invert(1);
    min-width: 4vh;
    height: auto;
}

.playstation {
    background-image: url('images/icons/ps.svg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    filter: invert(1);
    min-width: 4vh;
    height: auto;
}

.nintendo-switch {
    background-image: url('images/icons/switch.svg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    filter: invert(1);
    min-width: 4vh;
    height: auto;
}

/*Video de Fondo*/
.video-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0%;
    z-index: -1;
}

    .video-bg iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }

.video-bg-margin{
    height: 90vh;
    width: 100vw;
}

/*Regiones*/
.region {
    position: relative;
    background-color: black;
    padding: 2vh;
    padding-top: 7vh;
    padding-bottom: 7vh;
    color: white;
    text-align: center;
}

/*Cajas con disenios*/
.box{
    border-radius: 1vh;
    padding: 1em;
    background-color: var(--darkGrey);
}

.imgBox {
    border-radius: 1vh;
    background-color: var(--darkGrey);
    overflow: hidden;
}

.roundedBorder {
    border-radius: 1vh;
}

/*Imagenes*/
.coverImg{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*Textos*/
.yellow{
    color: var(--enthariel);
}

/*Botones*/

.playNowBtn{
    display: flex;
    flex: 0 1 18%;
    border-radius: 2vh;
    color: var(--enthariel);
    background-color: var(--enthariel);
    align-items: center;
    justify-content: center;
    padding: 0.5vh;
}

.playNowBtn:hover{
    color: black;
}

    .playNowBtn:hover .playNowBtnBody{
        background-color: var(--enthariel);
    }

    .playNowBtn:hover .playNowBtnView {
        opacity: 0;
    }

    .playNowBtn:hover .playNowBtnHidden{
        opacity: 1;
        width: 100%;
    }

.playNowBtnBody {
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 1.5vh;
    display: flex;
    align-items: center;
    justify-content: left;
    position: relative;
    transition: ease 0.3s;
}

.playNowBtnView {
    opacity: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    border-radius: 1.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease 0.5s;
}

.playNowBtnView section{
    height: 80%;
}

.playNowBtnHidden {
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 10%;
    background-color: var(--enthariel);
    border-radius: 1.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease 0.5s;
}

/*Animaciones*/
@keyframes displaceBgXForward{
        0%{
            background-position-x: 0%;
        }
        100%{
            background-position-x: 100%;
        }
    }

@keyframes displaceBgXBackward {
    0% {
        background-position-x: 100%;
    }

    100% {
        background-position-x: 0%;
    }
}

/*Ajuste Responsive*/

.mobileHidden{
    visibility: inherit;
}

.desktopHidden {
    visibility: hidden;
    width: 0;
    height: 0;
}

@media(max-width: 1200px) {

    .mobileHidden{
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .desktopHidden {
        visibility: inherit;
    }

    #header{
        justify-content: center;
        gap: 0;
    }

    #header a{
        max-width: 30%;
    }

    #footer a{
        flex: 0 1 98%;
    }

    .video-bg{
        height: 50vh;
    }

    .video-bg-margin{
        height: 30vh;
    }

    #news{
        display: block;
        grid-template-columns: 1fr;
    }

    #highlight{
        height: 30vh;
    }

        #highlight .textSection h2 {
            font-size: 2vh;
        }

    #games .container a {
        height: 20vh;
        flex: 0 1 98%;
    }

    #games .container h2 {
        font-size: 2vh;
    }

    #games .container a .textSection{
        width: 50%;
    }

    .playNowBtn{
        flex: 0 1 98%;
    }

    .playNowBtn p{
        font-size: 1.8vh;
    }

    .col1,
    .col2 {
        grid-column: 1;
    }

    .column{
        margin-bottom: 2vh;
    }
}