:root {
    --enthariel: #f5ec42;
    --entharielLight: #fffa91;
    --entharielDark: #d1b411;
    --darkGrey: #1c1c1c;
}

@font-face {
    font-family: 'RobotoFlex';
    src: url('fonts/Roboto_Flex/RobotoFlex.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*Por defecto*/
body
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: RobotoFlex;
    background-color: black;
    color: white;
    font-weight: 600;
}

p {
    font-size: 2vh;
}

h1{
    font-size: 5vh;
    font-weight: 800;
}

h2,
h3,
h4,
h5{
    font-size: 4vh;
    font-weight: 800;
}

a{
    text-decoration: none;
    color: inherit;
}

/*IDS*/

#header{
    width: 100vw;
    height: 12vh;
    background-color: black;
    box-shadow: black 1px 1px 2px;
    display: flex;
    justify-content: space-between;
    gap: 1vw;
    color: var(--enthariel);
    border-bottom: 1px solid var(--enthariel);
    position: fixed;
    z-index: 9999;
}

#welcome{
    margin-bottom: 10vh;
}

/*NOTICIAS*/

#news {
    text-align: left;
    padding: 5vw;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-column-gap: 2vw;
    grid-row-gap: 1vh;
    background: rgb(45,44,25);
    background: radial-gradient(circle, rgba(45,44,25,1) 0%, rgba(2,0,36,1) 100%); /*PAGINA WEB GENERADORA CSSGRADIENT.IO*/
}

/*Noticia destacada*/
#highlight {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    height: 60vh;
    grid-column: 1;
    padding: 1vh;
    border-radius: 1vh;
    margin-bottom: 1vh;
    transition: 0.2s ease-in-out;
}

/*Efecto de Hover de la noticia destacada*/
#highlight:hover{
    border: 3px solid grey;
}

    /*Seccion de imagen de la noticia destacada*/
    #highlight .imgSection {
        height: 85%;
        border-radius: 1vh;
        background-color: var(--darkGrey);
        overflow: hidden;
    }

    /*Seccion de texto de la noticia destacada*/
    #highlight .textSection {
        height: 15%;
    }

/*Imagen de la noticia destacada*/
#highlight img{
    transition: 0.5s ease-in-out;
}

/*Efecto de imagen de la noticia destacada*/
#highlight img:hover{
    transform: scale(1.03);
}

/*Contenedor de noticias pequenias*/
#news .container {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

    /*Noticia pequenia con a para mandarlo a otra pagina*/
    #news .container a {
        border-radius: 1vh;
        background: rgb(255,255,255);
        background: linear-gradient(90deg, rgba(255,255,255,0.2721463585434174) 0%, rgba(0,0,0,0.5382528011204482) 100%);
        height: 25%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        transition: 0.2s ease-in-out;
        overflow: hidden;
    }

        /*Efectos de la noticia pequenia al estar sobre ella*/
        #news .container a:hover {
            border: 3px solid grey;
            transform: scale(1.02);
        }

        /*Seccion izquierda de la noticia donde se muestra el texto*/
        #news .container a section {
            padding: 1em;
            align-items: center;
            justify-content: center;
        }

            /*Configuracion del titulo de la seccion donde se muestra el texto*/
            #news .container a section h2 {
                font-size: 2vh;
                font-weight: 500;
            }

        /*Configuracion de la imagen de la derecha en la noticia pequenia*/
        #news .container a img{
            height: 100%;
            width: 30%;
            object-fit: cover;
        }

/*JUEGOS*/

#games {
    text-align: left;
    padding: 5vw;
}

    #games .container {
        display: flex;
        flex-direction: row;
        row-gap: 1vh;
        column-gap: 1vw;
    }

        #games .container article {
            position: relative;
            width: 50%;
            height: 40vh;
            border-radius: 1vh;
            transition: 0.2s ease-in-out;
            overflow: hidden;
            justify-content: center;
            align-items: center;
        }

    #games .container article:hover {
        border: 3px solid grey;
        transform: scale(1.02);
    }

        #games .container article .layer0,
        #games .container article .layer1,
        #games .container article .layer2 {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
        }

        #games .container article .layer0 {
            z-index: 1;
        }

        #games .container article .layer1 {
            z-index: 2;
        }

        #games .container article .layer2 {
            z-index: 3;
        }

            #games .container article .layer0 img,
            #games .container article .layer1 img,
            #games .container article .layer2 img {
                top: 0;
                left: 0;
                object-fit: cover;
            }

            #games .container article .textSection {
                height: 100%;
                width: 35%;
                background-color: black;
                display: flex;
                flex-direction: column;
                text-align: center;
                align-items: center;
                justify-content: center;
            }

            #games .container article .platform {
                background-color: var(--darkGrey);
                border-radius: 2vh;
                height: 10%;
                min-width: 30%;
            }

        #games .container article .platform img{
            height: 100%;
            max-width: 100%;
            object-fit: contain;
        }

/*Heights*/
.h100{
    height: 100vh;
}

.h80{
    height: 80vh;
}

.h60 {
    height: 60vh;
}

/*Flex*/
.column{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.row{
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.rItem15{
    height: 15%;
}

.rItem20{
    height: 20%;
}

.rItem25{
    height: 25%;
}

.rItem30{
    height: 30%;
}

.rItem70{
    height: 70%;
}

.rItem80{
    height: 80%;
}

.rItem85{
    height: 85%;
}

/*Grid*/
.col1{
    grid-column: 1;
}

.col2{
    grid-column: 2;
}

/*SVG del Logo de Fondo*/
.logo{
    background-image: url('images/logo/LogoEnthariel.svg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
}

.logoDegree {
    background-image: url('images/logo/LogoEnthariel_Degree.svg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
}

/*Video de Fondo*/
.video-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0%;
    z-index: -1;
}

    .video-bg iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }

.video-bg-margin{
    height: 90vh;
    width: 100vw;
}

/*Regiones*/
.entharielRegion {
    position: relative;
    background-color: black;
    padding: 2vh;
    padding-top: 7vh;
    padding-bottom: 7vh;
    color: white;
    text-align: center;
}

/*Cajas con disenios*/
.box{
    border-radius: 1vh;
    padding: 1em;
    background-color: var(--darkGrey);
}

.imgBox {
    border-radius: 1vh;
    background-color: var(--darkGrey);
    overflow: hidden;
}

.roundedBorder {
    border-radius: 1vh;
}

/*Imagenes*/
.coverImg{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*Animaciones*/
@keyframes displaceBgXForward{
        0%{
            background-position-x: 0%;
        }
        100%{
            background-position-x: 100%;
        }
    }

@keyframes displaceBgXBackward {
    0% {
        background-position-x: 100%;
    }

    100% {
        background-position-x: 0%;
    }
}

/*Ajuste Responsive*/
@media(max-width: 1200px) {

    .video-bg{
        height: 50vh;
    }

    .video-bg-margin{
        height: 30vh;
    }

    #news{
        display: block;
        grid-template-columns: 1fr;
    }

    #highlight{
        height: 30vh;
    }

        #highlight .textSection h2 {
            font-size: 2vh;
        }

    .col1,
    .col2{
        grid-column: 1;
    }

    .column{
        margin-bottom: 2vh;
    }
}